<h1>Time Logger</h1>
<div class="container">
    <form>
        <fieldset>
            <label>Start Date : </label>
            
        </fieldset>
        <fieldset>
            <label>Start Time : </label>
            
        </fieldset> 
        <fieldset>
            <label>Elapsed Time : </label>
            
        </fieldset>
        <fieldset class="form-group">
            <label>Note : </label>
            <input type="text" class="form-control">
        </fieldset>
        <button type="submit" class="btn btn-success">Save</button>
    </form>
</div>
